In [364]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [365]:
df_latih = pd.read_excel(r'E:\BDC\Data Latih BDC.xlsx')

In [366]:
df_latih.tail()

,ID,label,tanggal,judul,narasi,nama file gambar
4226,999287,1,2016-01-17 00:00:00,: KPK Dilarang Membawa Brimob Bersenjata Masuk...,KPK Dilarang Membawa Brimob Bersenjata Masuk G...,999287.jpg
4227,999472,1,2020-08-20 00:00:00,Foto pejabat keuangan dibawah palu arit,Jangan mau dialihkan kepada pakaian adat… FOKU...,999472.png
4228,999501,1,2020-08-17 00:00:00,Gambar Denny Siregar Musuh Warga Tasikmalaya d...,Akhir nya bisa terkenal bang denny,999501.jpg
4229,999848,1,2020-07-21 00:00:00,Kaesang: Bapak Saya dengan Kesederhaan Bisa Ni...,Bapak Saya dengan Kesederhaan Bisa Nipu Rakyat...,999848.jpg
4230,999860,1,2020-07-20 00:00:00,Laser dari termometer gun akan merusak struktu...,"IN: Saya nolak. Kalau Anda mau periksa, bukan ...",999860.png

In [367]:
df_latih = df_latih.drop("tanggal", axis=1)
df_latih = df_latih.drop("nama file gambar", axis=1)
df_latih = df_latih.drop("ID", axis=1)
df_latih

,label,judul,narasi
0,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...
1,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...
2,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...
3,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k..."
4,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .
...,...,...,...
4226,1,: KPK Dilarang Membawa Brimob Bersenjata Masuk...,KPK Dilarang Membawa Brimob Bersenjata Masuk G...
4227,1,Foto pejabat keuangan dibawah palu arit,Jangan mau dialihkan kepada pakaian adat… FOKU...
4228,1,Gambar Denny Siregar Musuh Warga Tasikmalaya d...,Akhir nya bisa terkenal bang denny
4229,1,Kaesang: Bapak Saya dengan Kesederhaan Bisa Ni...,Bapak Saya dengan Kesederhaan Bisa Nipu Rakyat...
4230,1,Laser dari termometer gun akan merusak struktu...,"IN: Saya nolak. Kalau Anda mau periksa, bukan ..."

In [368]:
df_latih.shape

(4231, 3)

In [369]:
df_latih.sort_inplace=True

In [370]:
df_latih.head(3506)

,label,judul,narasi
0,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...
1,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...
2,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...
3,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k..."
4,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .
...,...,...,...
3501,1,Ya robb jangan biarkan kecurangan terjadi Aamiin,Ya robb jangan biarkan kecurangan terjadi Aamiin
3502,1,Soal Tes CPNS 2018 Telah Bocor,"Ternyata Soal TIU CPNS 2018 Telah Bocor, Ayo P..."
3503,1,Wali Kota Palu Meninggal Karena Tsunami,Innalilahi wa innailaihi rojiun\n walikota pal...
3504,1,MINUMAN RED BULL MENGANDUNG SPERMA BANTENG,Energy drinks such as Red Bull have long been ...
3505,0,Klarifikasi BMKG Terkait Foto Indonesia Very H...,Bencana biasa saja bukan Nasional tapi minta b...

In [371]:
df_latih['total']=df_latih['judul'] + ' ' + df_latih['narasi']

In [372]:
vectorizer = CountVectorizer()

In [373]:
all_features = vectorizer.fit_transform(df_latih.narasi)

In [374]:
print(all_features)

  (0, 3024)	1
  (0, 17499)	3
  (0, 14245)	1
  (0, 16692)	1
  (0, 15797)	1
  (0, 14400)	1
  (0, 15753)	1
  (0, 17327)	1
  (0, 6429)	1
  (0, 18333)	1
  (0, 18255)	4
  (0, 6498)	1
  (0, 17526)	1
  (0, 15761)	4
  (0, 6082)	1
  (0, 3472)	2
  (0, 12230)	1
  (0, 3465)	1
  (0, 12165)	1
  (0, 3684)	2
  (0, 9218)	1
  (0, 9417)	1
  (0, 4907)	1
  (0, 5593)	1
  (0, 16393)	1
  :	:
  (4230, 4756)	1
  (4230, 8214)	2
  (4230, 5879)	1
  (4230, 7420)	2
  (4230, 17256)	1
  (4230, 16336)	1
  (4230, 779)	2
  (4230, 7494)	2
  (4230, 7795)	1
  (4230, 12316)	1
  (4230, 3989)	1
  (4230, 13396)	3
  (4230, 14127)	1
  (4230, 8299)	1
  (4230, 10263)	2
  (4230, 16875)	1
  (4230, 12003)	1
  (4230, 6175)	1
  (4230, 17180)	1
  (4230, 9149)	1
  (4230, 9148)	2
  (4230, 11123)	1
  (4230, 16929)	1
  (4230, 7837)	1
  (4230, 8927)	1

In [375]:
all_features.shape

(4231, 18668)

In [376]:
vectorizer.vocabulary_

{'caller': 3024,
 'to': 17499,
 'radio': 14245,
 'talk': 16692,
 'show': 15797,
 'recently': 14400,
 'shared': 15753,
 'that': 17327,
 'his': 6429,
 'wife': 18333,
 'was': 18255,
 'hospitalized': 6498,
 'told': 17526,
 'she': 15761,
 'had': 6082,
 'covid': 3472,
 'only': 12230,
 'couple': 3465,
 'of': 12165,
 'days': 3684,
 'left': 9218,
 'live': 9417,
 'doctor': 4907,
 'friend': 5593,
 'suggested': 16393,
 'be': 1777,
 'tested': 17295,
 'for': 5543,
 'legionnaires': 9227,
 'disease': 4615,
 'because': 1799,
 'wore': 18403,
 'the': 17331,
 'same': 14970,
 'mask': 9863,
 'every': 5322,
 'day': 3680,
 'all': 824,
 'long': 9451,
 'turns': 17748,
 'out': 12330,
 'it': 7062,
 'from': 5594,
 'moisture': 11415,
 'bacteria': 1444,
 'in': 6747,
 'her': 6350,
 'given': 5896,
 'antibiotics': 1059,
 'within': 18368,
 'two': 17775,
 'better': 2445,
 'what': 18317,
 'if': 6633,
 'these': 17342,
 'spikes': 16210,
 'are': 1156,
 'really': 14389,
 'something': 16144,
 'else': 5181,
 'due': 5020,
 'induced': 6807,
 'infections': 6819,
 'yth': 18542,
 'seluruh': 15483,
 'anggota': 991,
 'grup': 6002,
 'sesuai': 15685,
 'instruksi': 6925,
 'gubernur': 6009,
 'jawa': 7248,
 'tengah': 16943,
 'hasil': 6254,
 'rapat': 14329,
 'tim': 17401,
 'gugus': 6021,
 'tugas': 17683,
 '19': 112,
 'jateng': 7236,
 'sbb': 15160,
 'jokowi': 7392,
 'adalah': 519,
 'presiden': 13968,
 'terbaik': 17003,
 'dlm': 4889,
 'sejarah': 15359,
 'bangsa': 1601,
 'indonesia': 6794,
 'jim': 7336,
 'rohn': 14679,
 'motivator': 11465,
 'dunia': 5050,
 'maaf': 9560,
 'mas2': 9837,
 'dan': 3618,
 'mbak2': 9944,
 'ini': 6868,
 'bukan': 2877,
 'politik': 13815,
 'tapi': 16772,
 'kenyataan': 8207,
 'pak': 12396,
 'berhasil': 2095,
 'memulangkan': 10347,
 '11': 57,
 '000': 1,
 'triliun': 17625,
 'uang': 17780,
 'negara': 11783,
 'dari': 3650,
 'swiss': 16562,
 '11ribu': 60,
 'siap': 15817,
 'di': 3864,
 'bawa': 1738,
 'balik': 1548,
 'ke': 7808,
 'ruu': 14819,
 'treaty': 17611,
 'on': 12218,
 'mutual': 11637,
 'legal': 9219,
 'assistance': 1274,
 'criminal': 3499,
 'matters': 9911,
 'between': 2450,
 'republic': 14517,
 'and': 967,
 'confederation': 3415,
 'mla': 11343,
 'ri': 14579,
 'resmi': 14540,
 'disahkan': 4596,
 'dpr': 4971,
 'tanggal': 16741,
 'juli': 7438,
 '2020': 179,
 'dengan': 3766,
 'demikian': 3750,
 'proses': 14044,
 'konstitusi': 8717,
 'menarik': 10402,
 'dana': 3619,
 'sudah': 16372,
 'selesai': 15464,
 'perjuangan': 13414,
 'yang': 18478,
 'panjang': 12500,
 'menghadapi': 10688,
 'ex': 5327,
 'koruptor': 8790,
 'bersenggama': 2332,
 'agama': 601,
 'terimakasih': 17097,
 'para': 12537,
 'kadrun': 7518,
 'terus': 17284,
 'nyinyirian': 12125,
 'kapan': 7661,
 'kembali': 8113,
 'tanpa': 16764,
 'anda': 968,
 'nyinyir': 12124,
 'rasanya': 14338,
 'sulit': 16426,
 'itu': 7074,
 'bisa': 2556,
 'oleh': 12199,
 'pemilik': 12917,
 '84': 414,
 'rekening': 14444,
 'gendut': 5794,
 'gigit': 5869,
 'jari': 7226,
 'mungkin': 11576,
 'tekanan': 16862,
 'makin': 9657,
 'kencang': 8177,
 'baca': 1434,
 'beritanya': 2133,
 'kalo': 7593,
 'lihat': 9346,
 'foto': 5560,
 'panas': 12449,
 'dingin': 4417,
 'selamat': 15438,
 'siang': 15815,
 'teman': 16901,
 'fb': 5426,
 'ku': 8902,
 'semuanya': 15540,
 'cuman': 3537,
 'mau': 9913,
 'memberi': 10191,
 'informasi': 6841,
 'rezeky': 14573,
 'gak': 5653,
 'kemana': 8091,
 'ya': 18457,
 'kemarin': 8102,
 'saya': 15144,
 'mengikuti': 10743,
 'event': 5320,
 'promo': 14034,
 'smartphone': 16044,
 'jne': 7363,
 'spesial': 16205,
 'bulan': 2892,
 'juni': 7454,
 'mesan': 11147,
 'vivo': 18119,
 'v15': 18043,
 'pro': 14011,
 'seharga': 15340,
 'rp': 14718,
 '900': 422,
 'nyangka': 12100,
 'cuma': 3536,
 'aku': 743,
 'mendapat': 10450,
 'hp': 6509,
 'bagi': 1462,
 'yg': 18509,
 'penasaran': 12967,
 'atau': 1308,
 'ikutan': 6676,
 'inbox': 6761,
 'aja': 663,
 'wa': 18144,
 'adminnya': 553,
 '0823': 24,
 '7142': 391,
 'lihatlah': 9347,
 'mereka': 11107,
 'mempersiapkan': 10320,
 'diri': 4570,
 'baik': 1501,
 'untuk': 17940,
 'menguasai': 10792,
 'negri': 11794,
 'italia': 7064,
 'punya': 14133,
 'fasilitas': 5408,
 'perawatan': 13322,
 'kesehatan': 8323,
 'tercanggih': 17037,
 'gagal': 5645,
 'mengendalikan': 10632,
 'corona': 3446,
 'karena': 7697,
 'awalnya': 1381,
 'hanya': 6194,
 'dianggap': 3904,
 'sekadar': 15372,
 'lelucon': 9242,
 'sekarang': 15378,
 'menangis': 10387,
 'tak': 16675,
 'cukup': 3533,
 'lahan': 9036,
 'mengubur': 10796,
 '700an': 386,
 'korban': 8772,
 'per': 13304,
 'hari': 6217,
 'lebih': 9213,
 '700': 385,
 'polisi': 13812,
 'goblok': 5918,
 'bukanya': 2882,
 'cpet': 3484,
 'tolongin': 17532,
 'malah': 9677,
 'liati': 9325,
 'china': 3225,
 'telah': 16871,
 'menganiaya': 10586,
 'wanita': 18223,
 'uighur': 17819,
 'lehernya': 9231,
 'cekik': 3128,
 'pake': 12404,
 'kaki': 7560,
 'melek': 10050,
 'tu': 17669,
 'bilang': 2510,
 'tidak': 17384,
 'ada': 515,
 'penganiayaan': 13074,
 'ham': 6152,
 'diam': 3889,
 'seribu': 15649,
 'bahasa': 1484,
 'seolah': 15586,
 'berkata': 2163,
 'liat': 9324,
 'nanti': 11712,
 'giliran': 5878,
 'sama': 14956,
 'orang': 12267,
 'sekitarnya': 15401,
 'biadab': 2473,
 'akhirnya': 705,
 'bersedia': 2323,
 'mengundurkan': 10813,
 'gue': 6014,
 'harus': 6235,
 'siap2': 15818,
 'nih': 11966,
 'begal': 1816,
 'mulai': 11550,
 'merambat': 11080,
 'wilayah': 18343,
 'cianjur': 3250,
 'rewan': 14569,
 'antara': 1045,
 'lain': 9042,
 'harapkan': 6212,
 'waspada': 18264,
 'penuh': 13231,
 'terutama': 17287,
 'malam': 9683,
 '01': 6,
 'jalur': 7168,
 'gekbrong': 5757,
 'arah': 1149,
 'sukabmi': 16408,
 '02': 9,
 'cibeber': 3251,
 'campaka': 3038,
 'sampe': 14983,
 'cilaku': 3271,
 'turut': 17755,
 'berduka': 2045,
 'cita': 3320,
 'atas': 1304,
 'meninggalnya': 10848,
 'pejuang': 12725,
 'angkatan': 1005,
 '66': 372,
 'bapak': 1647,
 'cosmas': 3458,
 'batubara': 1734,
 'sabtu': 14843,
 '27': 222,
 '2019': 169,
 'pukul': 14106,
 '15': 79,
 '00': 0,
 'wib': 18327,
 'semoga': 15531,
 'maha': 9600,
 'kuasa': 8910,
 'mengampuni': 10577,
 'segala': 15317,
 'dosanya': 4951,
 'tempat': 16922,
 'layak': 9177,
 'disisi': 4676,
 'nya': 12084,
 'aamiin': 450,
 'bantu': 1631,
 'sebar': 15246,
 'sby': 15173,
 'telpon': 16895,
 'moeldoko': 11405,
 'suruh': 16513,
 'jkw': 7351,
 'akui': 746,
 'kekalahan': 8002,
 'info': 6831,
 'seorang': 15587,
 'jenderal': 7297,
 'jadi': 7113,
 'usah': 17977,
 'pada': 12365,
 'gusar': 6047,
 'panik': 12497,
 'lagi': 9027,
 'valid': 18054,
 'relakah': 14458,
 'anak': 942,
 'cucu': 3523,
 'kita': 8526,
 'dibikin': 3984,
 'seperti': 15610,
 'anak2': 943,
 'rohingya': 14675,
 'ketika': 8400,
 'komunis': 8678,
 'berkuasa': 2202,
 'kejadian': 7975,
 'pln': 13758,
 'pltu': 13766,
 'cilacap': 3270,
 'bunton': 2931,
 'adipala': 539,
 'cina': 3286,
 'berbahasa': 1981,
 'apalagi': 1092,
 'banyumasan': 1643,
 'tp': 17569,
 'ktp': 8901,
 'nama': 11684,
 'karsono': 7724,
 'payah': 12659,
 'kie': 8477,
 'camat': 3028,
 'bupatine': 2938,
 'kalau': 7571,
 'bener2': 1905,
 'terjadi': 17105,
 'fadlizon': 5366,
 'semua': 15539,
 'warga': 18233,
 'tdk': 16832,
 'pilih': 13671,
 'prabowo': 13921,
 'pilpres': 13680,
 'akan': 693,
 'km': 8579,
 'usir': 17993,
 'dr': 4977,
 'serius': 15657,
 'si': 15806,
 'zonk': 18627,
 'https': 6524,
 'co': 3357,
 'jvjxc0jhmp': 7479,
 'depnaker': 3796,
 'republik': 14518,
 'terpilih': 17213,
 'mendapatkan': 10452,
 'penghargaan': 13138,
 'sebesar': 15269,
 'nt': 12042,
 '350': 271,
 'departemen': 3789,
 'ketenaga': 8376,
 'kerjaan': 8283,
 'sebagai': 15232,
 'pahlawan': 12390,
 'devisa': 3840,
 'tahun': 16665,
 '2017': 167,
 '2018': 168,
 'kode': 8612,
 'registrasi': 14425,
 'twn37589': 17774,
 'hubungi': 6533,
 'call': 3022,
 'office': 12169,
 '62853': 366,
 '9313': 425,
 '1245': 64,
 'haryono': 6244,
 'kunjungi': 8954,
 'alamat': 768,
 'website': 18291,
 'www': 18442,
 'yolasite': 18524,
 'com': 3385,
 'penerimah': 13047,
 'pemberitahuan': 12860,
 'melalui': 10014,
 'telephone': 16881,
 'sms': 16069,
 'whatsapp': 18319,
 'berarti': 1964,
 'tersebut': 17229,
 'diundi': 4829,
 'bebas': 1788,
 'biaya': 2488,
 'sertifikat': 15666,
 'pajak': 12395,
 'pemerintah': 12902,
 'pengurusan': 13183,
 'pengawasan': 13087,
 'kepolisian': 8234,
 'dumaksudkan': 5043,
 'menghindari': 10727,
 'hal': 6133,
 'negatif': 11787,
 'peringatan': 13401,
 'hati': 6269,
 'penipuan': 13197,
 'bila': 2508,
 'dalam': 3597,
 'dimintai': 4389,
 'oknum': 12188,
 'bertanggunh': 2376,
 'jawab': 7249,
 'sepengetahuan': 15604,
 'pihak': 13650,
 'pengirim': 13154,
 '73538373777': 396,
 'hahhahhahahhaha': 6113,
 'penuhi': 13232,
 'pki': 13725,
 'gimanah': 5880,
 'pa': 12354,
 'kowi': 8815,
 'astaga': 1278,
 'sandiaga': 15007,
 'sarankan': 15060,
 'ngadu': 11849,
 'kelurahan': 8080,
 'saja': 14899,
 'perlu': 13441,
 'balai': 1535,
 'kota': 8800,
 'prediksi': 13959,
 'besok': 2439,
 'bandung': 1575,
 'sinyalir': 15937,
 'dua': 5012,
 'kubu': 8917,
 'besar': 2425,
 'demo': 3753,
 'lg': 9309,
 'an': 940,
 'ojek': 12180,
 'online': 12227,
 'gabungan': 5631,
 'kumpul': 8945,
 'minta': 11288,
 'tggung': 17315,
 'angkot': 1009,
 'soalnya': 16084,
 'jl': 7354,
 'bkr': 2586,
 'grab': 5974,
 'tabrak': 16640,
 'sngaja': 16075,
 'mati': 9906,
 'buah': 2837,
 'batu': 1731,
 'jg': 7320,
 'karapitan': 7690,
 'gebukin': 5745,
 'hilang': 6397,
 'ga': 5622,
 'kabar': 7490,
 'irina': 7001,
 'istri': 7057,
 'ahli': 635,
 'hermansyah': 6358,
 'disebut': 4622,
 'mantan': 9762,
 'psk': 14075,
 'nezar': 11839,
 'patria': 12644,
 'kader': 7511,
 'ikut': 6675,
 'setiap': 15709,
 'istana': 7044,
 'setelah': 15698,
 'jam': 7170,
 'tuduhan': 17681,
 'alfian': 794,
 'tandjung': 16729,
 'panggilan': 12491,
 'nomor': 12006,
 'dikenal': 4259,
 '16': 91,
 'april': 1129,
 'lalu': 9070,
 'menteri': 10921,
 'perdagangan': 13351,
 'rachmat': 14233,
 'gobel': 5916,
 'memberlakukan': 10200,
 'kebijakan': 7862,
 'larangan': 9140,
 'penjualan': 13219,
 'minuman': 11292,
 'beralkohol': 1951,
 'alias': 809,
 'keras': 8262,
 'minimarket': 11280,
 'namun': 11697,
 'tertuang': 17268,
 'peraturan': 13320,
 'permendag': 13451,
 '06': 17,
 'dag': 3574,
 '2015': 164,
 'tentang': 16958,
 'pengendalian': 13104,
 'terhadap': 17081,
 'pengadaan': 13052,
 'peredaran': 13357,
 'kini': 8499,
 'diubah': 4824,
 'is': 7014,
 'hoax': 6457,
 'kapal': 7659,
 'kargo': 7703,
 'tujuan': 17696,
 'dilaporkan': 4322,
 'tenggelam': 16948,
 'laut': 9165,
 'selatan': 15454,
 '22': 201,
 'waktu': 18199,
 'setempat': 15700,
 'akibat': 714,
 'kebocoran': 7869,
 'lambung': 9082,
 'mengangkut': 10585,
 'objek': 12149,
 'percobaan': 13347,
 'vaksin': 18048,
 'dimana': 4365,
 'harga': 6215,
 'monyet': 11441,
 'sangat': 15013,
 'mahal': 9602,
 'sementara': 15518,
 '10': 34,
 'kali': 7580,
 'murah': 11584,
 'sampai': 14975,
 'saat': 14829,
 'masih': 9853,
 'penyelidikan': 13274,
 'otoritas': 12323,
 'tiongkok': 17432,
 'mengenai': 10624,
 'sebab': 15229,
 'kecelakaan': 7889,
 'fatal': 5413,
 'terlihat': 17171,
 'sekumpulan': 15423,
 'tulen': 17705,
 'sedang': 15290,
 'menyantap': 10985,
 'kuliner': 8931,
 'khas': 8446,
 'berupa': 2410,
 'nasi': 11737,
 'samin': 14972,
 'kebab': 7822,
 'buaya': 2846,
 'panggang': 12488,
 'minumannya': 11293,
 'tentu': 16962,
 'fifis': 5462,
 'onta': 12233,
 'segar': 15320,
 'percakapan': 13341,
 'pun': 14122,
 'memakai': 10104,
 'halus': 6151,
 'kromo': 8879,
 'inggil': 6857,
 'pula': 14109,
 'ana': 941,
 'akhi': 702,
 'antum': 1074,
 'afwan': 594,
 'hmmm': 6448,
 'sungguh': 16465,
 'mengagumkan': 10553,
 'sekali': 15374,
 'nb': 11764,
 'seng': 15560,
 'wani': 18222,
 'protes': 14050,
 'opo': 12252,
 'kowe': 8814,
 'bong': 2698,
 'nah': 11669,
 'mundur': 11574,
 'terhormat': 17089,
 'daripada': 3653,
 'pecat': 12696,
 'hayo': 6288,
 'monggo': 11434,
 'merasa': 11090,
 'sanggup': 15017,
 'becus': 1804,
 'kerjanya': 8285,
 'fkppi': 5513,
 'berkumpul': 2206,
 'monas': 11427,
 'siaga': 15809,
 'kemungkinan': 8164,
 'apabila': 1088,
 'hip': 6423,
 'syahkan': 16572,
 'revolusi': 14567,
 'jihad': 7329,
 'syahid': 16571,
 'hidup': 6383,
 'mulia': 11552,
 'bela': 1846,
 'ancaman': 961,
 'komunisme': 8679,
 'pembantu': 12828,
 'baru': 1687,
 'datang': 3664,
 '30': 252,
 'tes': 17292,
 'positif': 13877,
 'sudjiatmi': 16382,
 'disiksa': 4659,
 'alam': 766,
 'barzakh': 1692,
 'hj': 6440,
 'ibu': 6599,
 'tersiksa': 17243,
 'kubur': 8918,
 'secara': 15281,
 'sadis': 14865,
 'brutal': 2823,
 'kejam': 7982,
 'ampunan': 934,
 'disaat': 4592,
 'tgl': 17316,
 '25': 212,
 'jenazah': 7291,
 'semayamkan': 15500,
 'entah': 5250,
 'tiba2': 17380,
 'belum': 1884,
 'beranjak': 1959,
 'makamnya': 9644,
 'beliau': 1868,
 'ternyata': 17185,
 'joko': 7387,
 'widodo': 18331,
 'astaghfirullah': 1281,
 'bersama': 2311,
 'lawan': 9169,
 'virus': 18106,
 'ayo': 1406,
 'berdamai': 2021,
 'dngn': 4899,
 'artinya': 1201,
 'kalah': 7564,
 'mengibarkan': 10737,
 'bendera': 1900,
 'putih': 14171,
 'tanda': 16724,
 'menyerah': 11030,
 'tahukah': 16664,
 'teman2': 16902,
 'group': 5996,
 'kenapa': 8175,
 'menggunakan': 10680,
 'stiker': 16296,
 'menguntungkan': 10818,
 'pembuat': 12883,
 'gambar': 5668,
 'saudaraku': 15114,
 'krmkan': 8875,
 'pembayarannya': 12836,
 'dibebankan': 3955,
 'kpd': 8822,
 'menerima': 10528,
 '250': 213,
 'mengaku': 10566,
 'mirip': 11304,
 'ashraf': 1234,
 'pria': 13981,
 'ingin': 6859,
 'nikahi': 11970,
 'bcl': 1773,
 'diculik': 4040,
 'keponakan': 8235,
 'yulianah': 18558,
 'umur': 17880,
 'jenis': 7304,
 'kelamin': 8031,
 'perempuan': 13365,
 'lebak': 9205,
 'bulus': 2903,
 'parung': 12583,
 'ibunda': 6602,
 'bayi': 1759,
 'dihipnotis': 4162,
 'diturunkan': 4821,
 'pondok': 13844,
 'cabe': 2991,
 'pelaku': 12744,
 'penculikan': 12998,
 '29feb': 236,
 'sekitar': 15399,
 'dapet': 3641,
 'client': 3344,
 'udah': 17801,
 'sini': 15927,
 'apartement': 1101,
 'ta': 16628,
 'org': 12286,
 'wuhan': 18437,
 'kena': 8167,
 'management': 9719,
 'tutup2i': 17761,
 'supaya': 16483,
 'mall': 9696,
 'bs': 2826,
 'beroperasi': 2270,
 'mrk': 11485,
 'rugi': 14767,
 'barusan': 1690,
 'bgt': 2461,
 'dpt': 4976,
 'suaminya': 16344,
 'komunitas': 8680,
 'indo': 6785,
 'kasih': 7749,
 'tau': 16798,
 'utk': 18020,
 'jauhi': 7245,
 'xi': 18445,
 'jinping': 7341,
 'mengunjungi': 10817,
 'masjid': 9860,
 'meminta': 10284,
 'umat': 17863,
 'islam': 7026,
 'berdoa': 2040,
 'dilanda': 4314,
 'krisis': 8864,
 'kami': 7608,
 'membutuhkan': 10247,
 'bantuan': 1632,
 'tilang': 17398,
 'terbaru': 17013,
 'kapolri': 7674,
 'mantap': 9764,
 'stnk': 16303,
 '50': 327,
 'sim': 15874,
 'pakai': 12397,
 'helm': 6331,
 'puc4t': 14097,
 'ungk4p': 17904,
 'p3l4ku': 12352,
 'k0rup51': 7481,
 'jiwasraya': 7347,
 'diduga': 4080,
 'belakang': 1852,
 'jokow1': 7391,
 'heboh': 6312,
 'perkenalkan': 13425,
 'jakarta': 7152,
 'water': 18271,
 'park': 12563,
 'dinas': 4412,
 'dukcapil': 5030,
 'mewajibkan': 11189,
 'mengganti': 10657,
 'kk': 8539,
 'lamanya': 9076,
 'tenggat': 16947,
 'imbauan': 6715,
 'segera': 15327,
 'memutakhirkan': 10354,
 'data': 3662,
 'memang': 10119,
 'didorong': 4079,
 'input': 6903,
 'status': 16274,
 'pernikahan': 13463,
 'golongan': 5933,
 'darah': 3646,
 'susunan': 16537,
 'keluarga': 8070,
 'bln': 2611,
 'perut': 13558,
 'ibunya': 6603,
 'habis': 6075,
 'usus': 18008,
 'dimakan': 4360,
 'kemudian': 8160,
 'dokter': 4915,
 'mengoprasi': 10787,
 'mengeluarkan': 10615,
 'keluar': 8067,
 'dia': 3866,
 'tangan': 16732,
 'perawat': 13321,
 'meninggal': 10846,
 'lahir': 9039,
 'dgn': 3851,
 'berat': 1968,
 'kg': 8432,
 'bertambah': 2371,
 'naik': 11673,
 'beratnya': 1971,
 'menjadi': 10863,
 '13': 69,
 'jumat': 7442,
 'tahu': 16663,
 'allah': 825,
 'kasi': 7746,
 'apa': 1086,
 'ni': 11949,
 'dibunuh': 4008,
 'memberinya': 10195,
 'suntik': 16475,
 'mematikan': 10136,
 '17': 95,
 'kisah': 8519,
 'benar': 1891,
 'india': 6776,
 'wallahu': 18210,
 'lam': 9072,
 'ngeri': 11906,
 'tmn2': 17486,
 'disana': 4606,
 'amin': 916,
 'yrb': 18540,
 'prayforjapan': 13950,
 'korea': 8775,
 'utara': 18017,
 'menghukum': 10736,
 'pejabatnya': 12722,
 'terlibat': 17170,
 'kasus': 7758,
 'korupsi': 8788,
 'dihadapan': 4136,
 'awak': 1379,
 'media': 9971,
 'cetak': 3175,
 'elektronik': 5166,
 'caranya': 3076,
 'berrjalan': 2306,
 'bergandengan': 2069,
 'plung': 13768,
 'dibawahnya': 3952,
 'kandang': 7633,
 'luaaaar': 9496,
 'biasaaa': 2484,
 'adapun': 521,
 'formasi': 5551,
 'merah': 11075,
 'kh': 8434,
 'ahmad': 638,
 'dahlan': 3582,
 'logo': 9436,
 'umm': 17870,
 'students': 16338,
 'today': 17504,
 'leaders': 9198,
 'tomorrow': 17540,
 'peta': 13583,
 'pray': 13947,
 'lombok': 9447,
 'kecamatan': 7882,
 'pedurungan': 12710,
 'tv': 17766,
 'luar': 9499,
 'negeri': 11791,
 'memberitakan': 10198,
 'next': 11837,
 'aneh': 981,
 'menjelang': 10883,
 'pemilu': 12921,
 'koq': 8768,
 'bisa2nya': 2558,
 'ketua': 8408,
 'kpu': 8830,
 'umroh': 17876,
 'bareng': 1671,
 'padahal': 12366,
 'banyak': 1636,
 'masalah': 9843,
 'kpln': 8827,
 'bukankah': 2879,
 'pelanggaran': 12751,
 'jalan2': 7161,
 'kereta': 8272,
 'yuuuuk': 18572,
 'tiket': 17392,
 'ka': 7484,
 'simulasi': 15896,
 'gila': 5871,
 'tps': 17572,
 'pertama': 13521,
 'tabe': 16633,
 'siapa': 15819,
 'keluargata': 8072,
 'guru': 6042,
 'sma': 16040,
 'buat': 2843,
 'alumni': 860,
 '212': 195,
 'harap': 6209,
 'hindari': 6413,
 'posko': 13882,
 '14': 73,
 'milik': 11242,
 'puan': 14089,
 'maharani': 9605,
 'menuju': 10935,
 'istiqlal': 7054,
 ...}

In [377]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(all_features, df_latih.label, test_size=0.11106, random_state=88)

In [378]:
X_train.shape

(3761, 18668)

In [379]:
print(X_train)

  (0, 3618)	1
  (0, 5653)	1
  (0, 15144)	2
  (0, 11712)	1
  (0, 12084)	1
  (0, 7113)	1
  (0, 693)	1
  (0, 10863)	1
  (0, 17303)	1
  (0, 9879)	1
  (0, 8214)	4
  (0, 7022)	1
  (0, 7907)	1
  (0, 2479)	1
  (1, 3766)	1
  (1, 16372)	1
  (1, 11107)	1
  (1, 693)	1
  (1, 7902)	1
  (1, 8122)	1
  (1, 11153)	1
  (1, 2651)	3
  (1, 13502)	1
  (1, 8786)	1
  (2, 3618)	1
  :	:
  (3760, 12696)	1
  (3760, 7564)	1
  (3760, 17013)	1
  (3760, 2505)	1
  (3760, 2129)	1
  (3760, 17677)	1
  (3760, 1460)	1
  (3760, 14283)	1
  (3760, 11992)	1
  (3760, 14907)	1
  (3760, 7430)	1
  (3760, 18155)	1
  (3760, 15110)	1
  (3760, 15611)	1
  (3760, 18594)	1
  (3760, 3441)	1
  (3760, 12903)	1
  (3760, 11306)	1
  (3760, 12036)	1
  (3760, 960)	1
  (3760, 18535)	1
  (3760, 16743)	1
  (3760, 14897)	1
  (3760, 7994)	1
  (3760, 776)	1

In [380]:
print(Y_train)

3616    1
2023    1
1399    1
312     0
3534    1
       ..
1598    1
362     1
2481    1
4047    1
2008    1
Name: label, Length: 3761, dtype: int64

In [381]:
X_test.shape

(470, 18668)

In [382]:
Y_predict

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0], dtype=int64)

In [383]:
classifier = MultinomialNB()

In [384]:
classifier.fit(X_train, Y_train)

MultinomialNB()

In [385]:
Y_predict = classifier.predict(X_test)

In [386]:
nr_correct = (Y_test == classifier.predict(X_test)).sum()

In [387]:
nr_incorrect = Y_test.size - nr_correct

In [388]:
recall_score(Y_test, classifier.predict(X_test))

0.8963730569948186

In [389]:
precision_score(Y_test, classifier.predict(X_test))

0.854320987654321

In [390]:
f1_score(Y_test, classifier.predict(X_test))

0.8748419721871048

In [391]:
df_uji = pd.read_excel(r'E:\BDC\Data Uji BDC.xlsx')

In [392]:
df_uji.head()

,ID,tanggal,judul,narasi,nama file gambar
0,238057,2020-07-13 00:00:00,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,238057.jpg
1,238158,2020-07-06 00:00:00,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,238158.jpg
2,238865,2020-04-22 00:00:00,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,238865.jpg
3,248298,2019-10-22 00:00:00,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,248298.jpg
4,255176,2020-05-01 00:00:00,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",255176.jpg

In [393]:
df_uji = df_uji.drop("tanggal", axis=1)
df_uji = df_uji.drop("nama file gambar", axis=1)
df_uji

,ID,judul,narasi
0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...
1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...
2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...
3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...
4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran..."
...,...,...,...
465,206021,"Dijemput oleh Tim Medis, Kakak Beradik Usia 8 ...","DiTangerang, dua bersaudara kakak beradik usia..."
466,219874,": Pertanda Alam, Kera Putih Mulai Turun Dari G...","Pertanda Alam, Kera Putih Mulai Turun Dari Gun..."
467,222802,Pasar Wameo dan Karya Nugraha di Tutup selama ...,Assalamu Alaikum …\n \n Info dari pedagang pa...
468,226020,Klarifikasi KPK Terkait Foto Setya Novanto Tan...,Secara tidak sengaja sekitar pukul 06.00 WIB d...
469,232887,Erdogan Tidak Pernah Akui Kemenangan Jokowi,Artikel dalam laman daring aljazera.online ber...

In [394]:
all_features1 = vectorizer.transform(df_uji.narasi)

In [395]:
print(all_features1)

  (0, 2556)	1
  (0, 3225)	1
  (0, 3864)	4
  (0, 3866)	1
  (0, 7074)	1
  (0, 7697)	1
  (0, 7766)	1
  (0, 8678)	2
  (0, 12199)	1
  (0, 12570)	1
  (0, 13461)	1
  (0, 13725)	1
  (0, 17453)	1
  (1, 693)	1
  (1, 1971)	1
  (1, 2508)	1
  (1, 3864)	1
  (1, 12731)	1
  (1, 14613)	1
  (1, 15268)	1
  (1, 16994)	1
  (1, 17384)	1
  (2, 766)	1
  (2, 825)	1
  (2, 1086)	1
  :	:
  (469, 6254)	1
  (469, 6435)	1
  (469, 6831)	1
  (469, 7387)	1
  (469, 7392)	2
  (469, 8122)	3
  (469, 8212)	1
  (469, 9075)	1
  (469, 9247)	1
  (469, 10198)	1
  (469, 12006)	1
  (469, 12227)	1
  (469, 12595)	1
  (469, 13223)	1
  (469, 13461)	1
  (469, 13968)	2
  (469, 14401)	1
  (469, 15369)	1
  (469, 16516)	1
  (469, 16823)	1
  (469, 16958)	1
  (469, 17384)	1
  (469, 17743)	2
  (469, 17974)	1
  (469, 18331)	1

In [396]:
all_features1.shape

(470, 18668)

In [397]:
Y_Predict2 = classifier.predict(all_features1)

In [398]:
Y_Predict2

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [399]:
df_uji['prediksi']=pd.Series (Y_Predict2)

In [400]:
df_uji.prediksi

0      1
1      1
2      1
3      1
4      1
      ..
465    1
466    1
467    1
468    1
469    1
Name: prediksi, Length: 470, dtype: int64

In [401]:
df_uji = df_uji.drop("judul", axis=1)
df_uji = df_uji.drop("narasi", axis=1)
df_uji

         ID  prediksi
0    238057         1
1    238158         1
2    238865         1
3    248298         1
4    255176         1
..      ...       ...
465  206021         1
466  219874         1
467  222802         1
468  226020         1
469  232887         1

[470 rows x 2 columns]

In [403]:
df_uji.to_csv('Prediksi2.csv')